body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgba(0,0,0,1);
  height: 8vh;
  font-size: 6vh;
  font-weight: 200;
  font-family: "Open Sans";
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

ul {
  width: 100%;
  height: 90%;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;  
}

.form {
  width: 90%;
  height: 90%;
  border-width: 2px;
  border-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.save {
  margin-top: 5%;
}

.violation {
  background-color: red;
}

.hide {
  display: none;
}


